<br>
<div id="yoman" class="container"  >
    <div class="row">
    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="card border-dark mb-3">
    <img class="card-img-top" src="../../assets/room.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Room 1</h5>
  
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#firstModal">Details</a>
  <div class="modal fade" id="firstModal" tabindex="-1" role="dialog" aria-labelledby="firstModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  
  
  
  
     <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="card border-dark mb-3">
    <img class="card-img-top" src="../../assets/room.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Room 2</h5>
      
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#secondModal">Details</a>
  <div class="modal fade" id="secondModal" tabindex="-1" role="dialog" aria-labelledby="secondModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
  
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  
  
    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="card border-dark mb-3">
    <img class="card-img-top" src="../../assets/room.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Room 3</h5>
    
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#thirdModal">Details</a>
  <div class="modal fade" id="thirdModal" tabindex="-1" role="dialog" aria-labelledby="thirdModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  
  
  
    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="card border-dark mb-3">
    <img class="card-img-top" src="../../assets/room.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Room 4</h5>
     
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#fifthModal">Details</a>
  <div class="modal fade" id="fifthModal" tabindex="-1" role="dialog" aria-labelledby="fifthModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  
    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="card border-dark mb-3">
    <img class="card-img-top" src="../../assets/room.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Room 5</h5>
    
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#sixthModal">Details</a>
  <div class="modal fade" id="sixthModal" tabindex="-1" role="dialog" aria-labelledby="sixthModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  
  
    <div class=" col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="card border-dark mb-3">
    <img class="card-img-top" src="../../assets/room.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Room 6</h5>
      
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#fourthModal">Details</a>
  <div class="modal fade" id="fourthModal" tabindex="-1" role="dialog" aria-labelledby="fourthModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
          
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  </div>
  </div>
  